        
        <p class="title2" >
        <% if (!filter) { %>
           Listado completo
        <% } else { %>
           Preguntas conteniendo : [<span style="color:#4040b0"> <%= filter %> </span>]
        <% } %>
        </p>
        
        <table>        
        <% var i; for(i=0; i<quizes.length; i++) { 
               var quiz = quizes[i];
        %>
            <tr>
               <td class="item-pregunta">
                  <a href="/quizes/<%= quiz.id %>"><%= quiz.pregunta %> </a>
               </td>
               <td class="admin-button">
                  <a href="/quizes/<%= quiz.id %>/edit">editar</a>
               </td>
               <td class="admin-button">
                  <a href="/quizes/<%= quiz.id %>/delete">borrar</a>
               </td>
            </tr>
        <% } %>
            <tr>
               <td> 
                  <a href="/quizes/new">
                     <button type="button">Crear pregunta</button>
                  </a>
                </td>
            </tr>
        </table>



